$font-family-sans-serif: 'Overpass', sans-serif;
$font-size-base: 1.1rem; 
$primary: #758bef;

@import "bootstrap/bootstrap";

body { font-weight: 300 }
h1 { font-family: 'Work Sans'; text-transform: uppercase; font-weight: 700; font-style: italic }
p.lead { font-size: 1.2rem }
b, strong { font-weight: 700 }