$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 1.1rem; 

$primary: #758bef;

@import "bootstrap/bootstrap";

h1 { text-transform: uppercase; font-weight: 700; font-style: italic }

p.lead { font-size: 1.2rem }